.App {
  border-color: blue; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: red;
  display: flex;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.btn {
  background-color: lightgreen;
  border-radius: 2px;
  display: block;
  margin: 15px;
  padding: 10px;
  height: 60 px;
  width: 75%;
  font-size: 2em; 
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
